* {
    padding: 0;
    margin: 0;
}

p {
    color: hsl(0, 1%, 48%);
    font-weight: bold;
    font-family: "Poppins";

}

#main_headline{
    font-weight: bolder;
    font-family: "Lexend Deca";
    font-size: 1.5em;
    color: hsl(234, 12%, 34%);
    margin-top: -5px;
    font-weight: 600;
}

#top_subhead{
    color: hsl(229, 6%, 66%);
    font-weight: 600;
    font-size: 1.4em;
    font-family: "Poppins";
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main{
    width: 1400px;
    min-width: 1400px;
    height: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.top_container{
    width: 80%;
    height: 40%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_box{
    width: 60%;
    height: 60%;
}

.bottom_container{
    width: 80%;
    height: 60%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2%;
    
}

.box{
    width: 30%;
    height: 50%;
    position: relative;
    border-top-style: solid;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.top_box{
    text-align: center;
}

h3{ 
    margin-top: 8%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.box p{
    padding-left: 5%;
    width: 100%;
}

.box img{
    padding-left: 70%;
    padding-top: 10%;
}

.box{
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    box-shadow: 10px 10px 5px lightgray;
    position: relative;

}
.box1{
    border-top-color: hsl(180, 62%, 55%) ;
    top: 20%;
    right: 1%;
}

.box2{
    border-top-color: hsl(0, 78%, 62%);
    bottom: 2%;
}

.box3{
    border-top-color: hsl(212, 86%, 64%);
    top: 20%;
    left: 1%;
}

.box4{
    border-top-color: hsl(34, 97%, 64%);
    top: 2%;
}
